<div class="container mt-5 text-center">
  <div class="card shadow-lg rounded-lg p-5">
    <h2 class="text-primary mb-4">¡Bienvenido al Sistema de Gestión de Almacén!</h2>
    <p class="lead text-gray-700">Utiliza el menú de navegación para registrar ingresos o ver reportes.</p>
    <div class="d-flex justify-content-center gap-3 mt-4">
      <a routerLink="/ingreso" class="btn btn-info btn-lg rounded-md text-white">Registrar Nuevo Ingreso</a>
      <a routerLink="/reporte" class="btn btn-primary btn-lg rounded-md">Ver Reportes</a>
      <a routerLink="/gestion-productos" class="btn btn-secondary btn-lg rounded-md">Gestionar Productos</a>
      <a routerLink="/gestion-proveedores" class="btn btn-warning btn-lg rounded-md text-white">Gestionar Proveedores</a>
    </div>
  </div>
</div>